<!-- Toolbar -->
<nav class="navbar navbar-expand-lg navbar-custom-blue">
  <a class="navbar-brand" href="mailto:{{mailTo}}"><i class="fa fa-envelope"></i> {{mailTo}}</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav sm-icons ms-auto mb-2 mb-lg-0">
      <li class="nav-item"><a class="nav-link" href="{{linkedIn}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <li class="nav-item"><a class="nav-link" href="{{youTube}}" target="_blank"><i class="fa fa-youtube"></i></a></li>
  </ul>
  </div>
</nav>
<div class="container"> 
  <h1>Privacy Policy</h1>
</div>
<div class="container">
  <h1>Blockquotes</h1>
  <p>The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
  </p>
</div>
<div class="container">
  <h1>Blockquotes</h1>
  <p>The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
  </p>
</div>

<div class="container">
  <h1>Blockquotes</h1>
  <p>The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
  </p>
</div>
<div class="container">
  <h1>Blockquotes</h1>
  <p>The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
  </p>
</div>
<div class="container">
  <h1>Blockquotes</h1>
  <p>The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
  </p>
</div>
<div class="container">
  <h1>Blockquotes</h1>
  <p>The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
  </p>
</div>
<div class="container">
  <h1>Blockquotes</h1>
  <p>The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
    The blockquote element is used to present content from another source:
  </p>
</div>  


    

<router-outlet></router-outlet>
